<% if @employee.role? :employee %>
    <% if @past_shifts.empty? && @upcoming_shifts.empty? %>
        <div class="card">
        <div class="card-content">
        <p>There are no shifts in the last or next 7 days for this employee.</p>
        <% if (can? :create, Shift) && !@employee.current_assignment.nil? %>
            <div class="card grey lighten-3">
                <div class="card-action">
                    <%= link_to "New Shift", new_shift_path %>
                </div>
            </div>
        <% end %>
        </div>
        </div>
    <% else %>
        <div class="card">
            <div class="card-content">
                <ul class="tabs">
                <li class="tab"><a href="#upcoming">Upcoming</a></li>
                <li class="tab"><a href="#past">Past</a></li>
                </ul>

                <div id="upcoming">
                    <%= render partial: 'shifts_list', locals: { state: 'Upcoming', 
                                                    shifts: @upcoming_shifts } %>
                </div>
                <div id="past">
                    <%= render partial: 'shifts_list', locals: { state: 'Past', 
                                                    shifts: @past_shifts } %>
                </div>
            </div>
        </div>

            
    <% end %>
<% end %>