
    <h4>Jobs at AMC</h4>

    <% if @jobs.empty? %>
      <p>There are no active jobs at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Name</th>
          <th class="align_center">Options</th>
        </thead>
        <% for job in @jobs %>
          <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
            <td> <%= link_to job.name.titleize, job_path(job) %> </td>

          <td class="align_center">
            <%= link_to edit_job_path(job) do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      <%= will_paginate @jobs, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    <% end %>
 