<div class="row">    
  <div id="main_content" class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>About A & M Creamery</em></span>
        <p>Ever since their childhoods, Alex and Mark Heimann have wanted to create a lot of businesses due to their natural entrepreneurial spirit. 
        They wanted to create veterinary hospitals, restaurants, barbershops, and much more. Through hard work and immense dedication, they were able to achieve their dreams 
        and now have many thriving franchises under their belt that all have amazing websites. 
        </p>
        <br/>
        <p>In spring of 2020, Alex and Mark decided to create another business that conviniently coincided with a new academic semester at Carnegie Mellon University.
        Since they scream for ice cream, they chose to make the business a creamery. Now, they spend their time opening new stores and relying on Information Systems students at
        Carnegie Mellon University to make them a website (which is what you're looking at right now).
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>