<div class="row">    
  <div id="main_content" class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>Contacting A & M Creamery</em></span>
        <p> If you want to get in touch with A & M Creamery, you can contact us 
        with the information provided below. Also contact us about future career opportunities
        such as wanting to become the latest entry in the employees <em>(or even the managers)</em> table.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("contact@aandm.com", "contact@aandm.com*", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-423-2732*</td>
          </tr>
        </table>
		<p class="note"><br>*This email and phone number is fake, so please don't try to contact them.</p>
      </div>
    </div>
  </div>
</div>

