<div class="row">  
  <h4>Welcome to A & M Creamery</h4>  
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <p>A & M Creamery is a series of small ice cream shops in the greater Pittsburgh area. Come to any of our locations and try our ice cream, it's so great you'll scream for more!</p><br/>

        <b>Here is a list of our stores in the Pittsburgh area:</b>
        <ul>
          <li>Carnegie Mellon</li>
          <li>Convention Center</li>
          <li>Greenfield</li>
          <li>Oakland</li>
          <li>Point State Park</li>
          <li>Shadyside</li>
          <li>Squirrel Hill</li>
        </ul>
      </div>
    </div>
  </div>
</div>